/* * {
  border: 1px solid gray;
} */

:root {
  --black: #000;
  --main: #f43e37;
  --white: #fff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: "Roboto", sans-serif, android emoji, apple color emoji,
    emojione mozilla, emojisymbols, noto color emoji, segoe ui emoji,
    segoe ui symbol, twemoji mozilla;
  margin: 0;
  min-height: 100%;
  min-width: 375px;
  padding-bottom: 3.6rem;
  position: relative;
}

footer {
  bottom: 0;
  color: var(--white);
  left: 0;
  margin-top: 20px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Roboto", sans-serif, android emoji, apple color emoji,
    emojione mozilla, emojisymbols, noto color emoji, segoe ui emoji,
    segoe ui symbol, twemoji mozilla;
  margin: 0;
}

hr {
  border: 2px solid var(--main);
  margin: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
}

li {
  border-bottom: 1px solid #404040;
  list-style: none;
}

.footer-year {
  margin: 10px;
}

.h1li {
  color: var(--main);
}

.intro-heading {
  padding: 20px 0;
}

.podcasts-heading-none {
  display: none;
}

.podcasts-heading {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  margin-bottom: 20px;
  text-decoration: underline var(--main);
  user-select: none;
}

.podcasts-section {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 20px 50px;
}

.sort-button {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  background-color: var(--black);
  border-radius: 0.25rem;
  border: 1px solid var(--main);
  color: var(--white);
  font-size: 1rem;
  margin: 25px;
  outline: none;
  padding: 0.375rem 0.75rem;
  padding: 0.43rem 1.55rem;
  transition: 0.15s ease-in-out;
  user-select: none;
}

.sort-button:hover {
  background-color: var(--main);
}

.ulist {
  margin: 20px 0;
  padding: 10px;
}

.ulist-style {
  background-color: #1a1a1a;
  border-radius: 5px;
  border: 2px solid var(--main);
  box-shadow: 0 0 10px #e6e6e6;
}

[type="file"] {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  height: 0;
  overflow: hidden;
  user-select: none;
  width: 0;
}

[type="file"] + label {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  background-color: var(--black);
  border-radius: 0.25rem;
  border: 1px solid var(--main);
  color: var(--white);
  font-size: 1rem;
  margin: 25px;
  outline: none;
  padding: 0.375rem 0.75rem;
  padding: 0.4rem 2rem;
  transition: 0.15s ease-in-out;
  user-select: none;
}

[type="file"] + label:hover {
  background-color: var(--main);
}
