body {
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif, android emoji, apple color emoji,
    emojione mozilla, emojisymbols, noto color emoji, segoe ui emoji,
    segoe ui symbol, twemoji mozilla;
  font-weight: 400;
  min-height: 100%;
  min-width: 375px;
  padding-bottom: 3.6rem;
  position: relative;
}

footer {
  bottom: 0;
  color: white;
  left: 0;
  margin-top: 20px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif, android emoji, apple color emoji,
    emojione mozilla, emojisymbols, noto color emoji, segoe ui emoji,
    segoe ui symbol, twemoji mozilla;
  font-weight: 900;
}

hr {
  border: 2px solid #f43e37;
  margin: 0;
}

html {
  height: 100%;
}

li {
  border-bottom: 1px solid #404040;
}

.btn {
  border-color: #f43e37;
  box-shadow: none !important;
  color: #f43e37;
  margin: 10px 50px;
  outline: none !important;
}

.custom-file-label {
  background-color: black;
  color: #f43e37;
}

.footerYear {
  margin: 10px;
}

.h1li {
  color: #f43e37;
}

.podcastsHeading {
  margin: 25px 0;
  text-decoration: underline overline #f43e37;
}

.podcastsSection {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 20px 50px;
}

.uList {
  list-style: none;
  padding: 10px;
}

.uListStyle {
  background-color: #1a1a1a;
  border-radius: 5px;
  border: 2px solid #f43e37;
  box-shadow: 0 0 10px #e6e6e6;
}
